.Navbar{
  top: 0px;
  position: sticky;
  z-index: 3000;
  background-color: #7FFFD3;
  border-bottom: 3px double rgb(38, 172, 103);
  align-items: center;
  display: flex;
  height: 110px;
  text-align: center;
  justify-content: space-between;
}

.Navbar .logo {
  margin-left: 20px;

}

.Navbar .title {
  text-decoration: none;
  color: rgb(150, 39, 184);
}

.Navbar .button-span {
  margin-right: 20px;
}

.Navbar .btn {
  margin-left: 5px;
}